In [4]:
DROP TABLE IF EXISTS dbo.users;

: Msg 3726, Level 16, State 1, Line 1
Could not drop object 'dbo.users' because it is referenced by a FOREIGN KEY constraint.

In [2]:
DROP TABLE IF EXISTS dbo.logs;

In [9]:
SELECT 
    'ALTER TABLE [' +  OBJECT_SCHEMA_NAME(parent_object_id) +
    '].[' + OBJECT_NAME(parent_object_id) + 
    '] DROP CONSTRAINT [' + name + ']'
FROM sys.foreign_keys
WHERE referenced_object_id = object_id('pics')
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__pic_i__0A9D95DB]
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__pic_i__114A936A]
DROP TABLE  IF EXISTS dbo.pics;

(No column name)
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__pic_i__0A9D95DB]
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__pic_i__114A936A]

In [7]:
SELECT 
    'ALTER TABLE [' +  OBJECT_SCHEMA_NAME(parent_object_id) +
    '].[' + OBJECT_NAME(parent_object_id) + 
    '] DROP CONSTRAINT [' + name + ']'
FROM sys.foreign_keys
WHERE referenced_object_id = object_id('raspberries')
ALTER TABLE [dbo].[pics] DROP CONSTRAINT [FK__pics__rasberry_i__0D7A0286]
ALTER TABLE [dbo].[pics] DROP CONSTRAINT [FK__pics__rasberry_i__14270015]
DROP TABLE IF EXISTS dbo.raspberries;

(No column name)
ALTER TABLE [dbo].[pics] DROP CONSTRAINT [FK__pics__rasberry_i__0D7A0286]
ALTER TABLE [dbo].[pics] DROP CONSTRAINT [FK__pics__rasberry_i__14270015]

In [13]:
DROP TABLE IF EXISTS dbo.users;

In [14]:
DROP TABLE IF EXISTS dbo.groups_pics;

In [15]:
DROP TABLE IF EXISTS dbo.groups_users;

In [10]:
SELECT 
    'ALTER TABLE [' +  OBJECT_SCHEMA_NAME(parent_object_id) +
    '].[' + OBJECT_NAME(parent_object_id) + 
    '] DROP CONSTRAINT [' + name + ']'
DROP TABLE IF EXISTS dbo.groups;FROM sys.foreign_keys
WHERE referenced_object_id = object_id('groups')

(No column name)
ALTER TABLE [dbo].[groups_users] DROP CONSTRAINT [FK__groups_us__group__08B54D69]
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__group__09A971A2]
ALTER TABLE [dbo].[groups_users] DROP CONSTRAINT [FK__groups_us__group__0F624AF8]
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__group__10566F31]
ALTER TABLE [dbo].[groups_users] DROP CONSTRAINT [FK__groups_us__group__3493CFA7]
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__group__3587F3E0]
ALTER TABLE [dbo].[groups_users] DROP CONSTRAINT [FK__groups_us__group__41EDCAC5]
ALTER TABLE [dbo].[groups_pics] DROP CONSTRAINT [FK__groups_pi__group__42E1EEFE]