In [4]:
CREATE TABLE [dbo].[users] (
  [id] UNIQUEIDENTIFIER NOT NULL,
  [name] NCHAR(10) NOT NULL,
  [surname] NCHAR(10) NOT NULL,
  [username] NVARCHAR(50) NOT NULL,
  [password] NVARCHAR(50) NOT NULL,
  [admin?] BIT NOT NULL DEFAULT (0),
  PRIMARY KEY ([id])
)
GO

In [2]:
CREATE TABLE [dbo].[logs] (
  [id] BIGINT NOT NULL IDENTITY(1, 1),
  [authcode] INT NOT NULL,
  [unlockcode] INT NOT NULL,
  [openend?] BIT NOT NULL DEFAULT (0),
  [user_id] UNIQUEIDENTIFIER,
  [pic_id] UNIQUEIDENTIFIER,
  PRIMARY KEY ([id])
)
GO

In [7]:
CREATE TABLE [dbo].[pics] (
  [id] UNIQUEIDENTIFIER NOT NULL,
  [portnumber] INT NOT NULL,
  [rasberry_id] INT NOT NULL,
  PRIMARY KEY ([id])
)
GO

In [8]:

CREATE TABLE [dbo].[raspberries] (
  [id] INT NOT NULL IDENTITY(1, 1),
  [buildingnumber] INT NOT NULL,
  PRIMARY KEY ([id])
)
GO

In [9]:
CREATE TABLE [dbo].[groups_users] (
  [id] UNIQUEIDENTIFIER NOT NULL,
  [user_id] UNIQUEIDENTIFIER NOT NULL,
  [group_id] INT NOT NULL,
  PRIMARY KEY ([id])
)
GO

In [10]:
CREATE TABLE [dbo].[groups] (
  [id] INT NOT NULL IDENTITY(1, 1),
  [name] NCHAR(10) NOT NULL,
  PRIMARY KEY ([id])
)
GO

In [11]:

CREATE TABLE [dbo].[groups_pics] (
  [id] UNIQUEIDENTIFIER NOT NULL,
  [pic_id] UNIQUEIDENTIFIER NOT NULL,
  [group_id] INT NOT NULL,
  PRIMARY KEY ([id])
)
GO

In [13]:
ALTER TABLE [dbo].[groups_users] ADD FOREIGN KEY ([user_id]) REFERENCES [dbo].[users] ([id])
GO

ALTER TABLE [dbo].[groups_users] ADD FOREIGN KEY ([group_id]) REFERENCES [dbo].[groups] ([id])
GO

ALTER TABLE [dbo].[groups_pics] ADD FOREIGN KEY ([group_id]) REFERENCES [dbo].[groups] ([id])
GO

ALTER TABLE [dbo].[groups_pics] ADD FOREIGN KEY ([pic_id]) REFERENCES [dbo].[pics] ([id])
GO

ALTER TABLE [dbo].[logs] ADD FOREIGN KEY ([user_id]) REFERENCES [dbo].[users] ([id])
GO

ALTER TABLE [dbo].[logs] ADD FOREIGN KEY ([pic_id]) REFERENCES [dbo].[pics] ([id])
GO

ALTER TABLE [dbo].[pics] ADD FOREIGN KEY ([rasberry_id]) REFERENCES [dbo].[raspberries] ([id])
GO